.left > ::ng-deep figure {
  justify-content: flex-start !important;
  padding-left: 20px;
}

.right > ::ng-deep figure {
  justify-content: flex-end !important;
  padding-right: 20px;
}


.title{
  font-family: "Comic Sans MS";
  font-size: x-large;
  text-align: center;
  font-style: italic;
  color: blue;
}




